# Server
APP_ENV=development
PORT=8080
APP_URL=http://localhost:8080
FRONTEND_URL=http://localhost:3000
ALLOWED_ORIGINS=http://localhost:3000

# Database
DB_HOST=localhost
DB_PORT=5432
DB_USER=  # your username 
DB_PASSWORD=  # your db password
DB_NAME=   #// fill your DB name 
DB_SSL_MODE=disable
DB_MAX_OPEN_CONNS=25
DB_MAX_IDLE_CONNS=10
DB_CONN_MAX_LIFETIME_MINUTES=30

# JWT
JWT_PRIVATE_KEY_PATH=./keys/private.pem
JWT_PUBLIC_KEY_PATH=./keys/public.pem
JWT_ACCESS_TOKEN_EXPIRY_MINUTES=15
JWT_ISSUER=council-portal.iitk.ac.in

# Mail
MAIL_HOST=smtp.iitk.ac.in
MAIL_PORT=587
MAIL_USERNAME= # Add your email here and add 2 step authentication
MAIL_PASSWORD= # 2 step verifications and generate the password 
MAIL_FROM_ADDRESS=noreply@iitk.ac.in
MAIL_FROM_NAME=Campus Council Portal
MAIL_ENCRYPTION=starttls

# Auth
MAGIC_LINK_EXPIRY_MINUTES=15
MAGIC_LINK_MAX_REQUESTS_PER_HOUR=3
REFRESH_TOKEN_EXPIRY_DAYS=30
DEVICE_TOKEN_EXPIRY_DAYS=30
INVALIDATION_TOKEN_EXPIRY_MINUTES=60
CAPTCHA_THRESHOLD=2
RATE_LIMIT_IP_MAX_PER_HOUR=200

# Campus
EMAIL_DOMAIN=iitk.ac.in
IP_RANGES=10.0.0.0/8,172.16.0.0/12
